* {
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ecdbbf;
}

header {
  display: flex;
  background-color: transparent;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 90px;
}

#cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

.opcoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.aba {
  color: black;
  font-size: 14px;
  font-weight: 600;
}

#login {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 30px 10px 30px;
  border: solid 1px;
  border-radius: 8px;
  background-color: transparent;
}

#bee {
  width: 40px;
  height: 40px;
}

#nome {
  display: flex;
}

#abelha {
  color: #ffb949;
  font-style: italic;
  line-height: 18px;
  justify-content: center;
  font-size: 22px;
}

#usuario {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 150px;
  background-color: lawngreen;
}

/*NAV BAR------------------------------------------------*/

#barra2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(159, 118, 102);
  height: 50px;
  align-items: center;
}

#pesquisa {
  border-radius: 10px;
  height: 40px;
  justify-content: space-between;
  margin-right: 30px;
}

#search {
  float: left;
  padding-left: 5px;
  font-style: italic;
  border: none;
  height: 40px;
  width: 186px;
  border-radius: 10px 0 0 10px;
  background-color: beige;
}

#lupa {
  border: none;
  color: beige;
  float: right;
  height: 40px;
  border-radius: 0 10px 10px 0;
  width: 70px;
  font-weight: bold;
  background-color: brown;
  margin-left: 5px;
}

#menu {
  display: flex;
  background-color: rebeccapurple;
  height: 45px;
  justify-content: center;
  align-items: center;
}

.item {
  color: black;
  font-weight: 500;
  margin-right: 50px;
  margin-left: 50px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*FOOTER---------------------------------------------*/
footer {
  display: flex;
  position: absolute;
  bottom: 0%;
  background-color: black;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
}

h2 {
  color: rgb(152, 132, 1);
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* CORPO ------------------------------------------------------*/

main {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  height: 500px;
  align-items: center;
}

#left {
  width: 400px;
}

#right {
  display: flex;
  justify-content: center;
  padding: 0;
  overflow: hidden;
  height: 400px;
  align-items: center;
  background-color: rgb(119, 64, 39);
  border-radius: 50%;
}

#bookstart {
  width: 380px;
  height: 380px;
}

#info {
  background-color: #fbfbfb;
  float: right;
  position: absolute;
  margin-top: 300px;
  border-radius: 10px;
  width: 260px;
  height: 100px;
  padding: 10px 10px 10px 10px;
}

p {
  font-size: 14px;
}

.more {
  background-color: #ffb949;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  margin-top: 5px;
}
